{% extends "base.html" %}
{% block title %}
<title>Player Stats</title>
{% endblock title %}

{% block content %}
<main>
    <div>
        {% comment %} <h2>{{ name }} Career Stats</h2> {% endcomment %}
        <table>
            <thead>
                <tr>
                {% for stat in categories %}
                <th>{{ stat }}</th>
                {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% comment %} how to define variable 
                {% with prev = year %}
                {{ prev }}
                {% endwith %}{% endcomment %}

                {% for year, stats, in years.items %}
                {% comment %} store a previous stat {% endcomment %}
                <tr>
                    {% for stat_name, stat_value in stats.items %}
                    {% comment %} if stat_value > prev.stat {% endcomment %}
                    <td>{{ stat_value }}</td>
                    {% endfor %}
                </tr>
                {% prev = year%}
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}