{% block title %}
<title>Search for Player</title>
{% endblock title $}




{% block content %}
<h1>Please enter a player name</h1>



<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <input type="search" placeholder="Enter name of player" value="Search" name="searched">
  </form>


{% endblock content %}