{% extends 'base.html' %}

{% block content %}

{% if searched %}

<h1>These are the players you have searched for "{{ searched }}" </h1>

{% for player in players %} {% comment %} player is a list of dictionaries {% endcomment %}
<p>
<a href="{% url "show_player" player.id %}">{{player.firstname}} {{ player.lastname }}</a>
</p>


{% endfor %}

{% else %}
<h1>Please enter a search for a player</h1>
{% endif %}

{% endblock content %}